<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico?v=2">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/css/auth.css">
    <script src="/static/assets/js/theme.js" defer></script>
    <script src="/static/assets/js/auth.js" defer></script>
</head>
<body>
    <form id="auth-form">
        <div id="auth-title">Авторизация</div>
        <input type="text" name="login" placeholder="Имя пользователя" class="form-field">
        <input type="password" name="password" placeholder="Пароль" class="form-field">
        <div id="auth-error">Текст ошибки</div>
        <input type="submit" value="Войти" class="form-button">
    </form>
</body>
</html>