<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/css/index-layout.css">
    <link rel="stylesheet" href="/static/assets/css/index-elements.css">
    <script>
        document.documentElement.dataset.theme = 'dark';
    </script>
</head>
<body>
    <div id="grid-main">
        <div id="block-header">
            <div style="color: var(--text-dark)">Здравствуйте, </div>
            <div style="color: var(--text-light)">Username</div>
        </div>
        <div id="block-sidebar">
            <div id="sidebar-tabs">
                <div class="sidebar-icon" id="sidebar-tab-main"></div>
                <div class="sidebar-icon" id="sidebar-tab-ai"></div>
                <div class="sidebar-icon" id="sidebar-tab-team"></div>
            </div>
            <div id="sidebar-extra">
                <div class="sidebar-icon" id="sidebar-theme"></div>
                <div class="sidebar-icon" id="sidebar-logout"></div>
            </div>
        </div>
        <div id="grid-tasks">
            <div class="grid-block" id="block-velocity">
                <div class="block-title center">Выполненные задачи за спринт</div>
                <div class="chart">
                    <div class="chart-block">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 30">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 70">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 50">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 60">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block selected" style="--tasks: 40">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 90">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                </div>
            </div> 
            <div class="grid-block" id="block-rebugrate">
                <div class="block-title">Процент вернувшихся багов</div>
                <div id="rebugrate-numbers">
                <div id="rebugrate-number-left">15%</div>
                <div id="rebugrate-number-middle">35 из 235</div>
                <div id="rebugrate-number-right">85%</div>
            </div>
            <div id="rebugrate-bar">
                <div id="rebugrate-bar-left"></div>
                <div id="rebugrate-bar-right"></div>
            </div>
            </div>
            <div class="grid-block" id="block-releaserate">
                <div class="block-bg"></div>
                <div class="block-title">Частота релизов</div>
                <div class="block-number">12</div>
                <div class="block-subtitle">в среднем за спринт</div>
            </div>
            <div class="grid-block" id="block-bugrate">
                <div class="block-bg"></div>
                <div class="block-title">Частота багов</div>
                <div class="block-number">42</div>
                <div class="block-subtitle">в среднем за спринт</div>
            </div>
            <div class="grid-block" id="block-taskrate">
                <div class="block-title center">Процент закрытых задач</div>
                <div id="taskrate-chart">
                    <div id="chart-bg"></div>
                    <div id="chart-circle"></div>
                    <div id="chart-number">67%</div>
                </div>
            </div>
        </div>
        <div id="grid-ai" class="selected">
            <div class="grid-block" id="block-tokens">
                <div class="block-title center">Потребление токенов за день</div>
                <div class="chart">
                    <div class="chart-block">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 30">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 70">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 50">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 60">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block selected" style="--tasks: 40">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                    <div class="chart-block" style="--tasks: 90">
                        <div class="chart-block-line">16</div>
                        <div class="chart-block-date">03.03</div>
                    </div>
                </div>
            </div>
            <div class="grid-block" id="block-cost-per-sprint">
                <div class="block-title">Стоимость ИИ за спринт</div>
                <div class="block-number">2400$</div>
                <div class="block-subtitle green ">на 5% ниже</div>
            </div>
            <div class="grid-block" id="block-cost-per-task">
                <div class="block-title">Стоимость ИИ за задачу</div>
                <div class="block-number">32$</div>
                <div class="block-subtitle red">на 5% выше</div>
            </div>
            <div class="grid-block" id="block-tokens-per-model">
                <div class="block-title">Распределение по моделям</div>
                <div id="tokens-per-model-chart">
                    <div id="chart-pie"></div>
                    <div id="chart-legend">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>